html {
  background-color: rgb(212, 242, 255);
}

body {
  border: 5px solid rgb(11, 11, 128);
  width: 350px;
  margin: 50px auto;
  background-color: white;
  border-style: groove;
  padding: 10px 25px;
  border-radius: 15px;
}
h1,
h2 {
  color: rgb(0, 0, 100);
}

* {
  font-family: cursive;
}
a {
  color: blue;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
}
a:hover {
  text-decoration: underline;
}
h1,
p {
  text-align: center;
}
